<ion-header>
  <ion-toolbar color="danger">

    <ion-title>Nomes</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item (click)="perfil()" *ngFor="let profissional of profissionais">
    <ion-avatar slot="start">
      <img src="https://i.pravatar.cc/300">
    </ion-avatar>
    <ion-label>
      <h3>{{ profissional.nome }}</h3>
      <p>{{ profissional.descricao }}</p>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="profissionais">
      <h4>Nenhum proffisional</h4>
  </ion-item>

</ion-content>
